/* Header */

body {
  font-family: Arial;
  background: url('Bunty.jpg');
  
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -6px;
}



.col-50,
.col-75 {
padding: 0 105px;
}

.container1 {
  background-color: white;
 
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
}


.my {
  background-color: #000066;
  color: white;
}

.fa{
  float: right;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  
}



/* Checkbox */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color:white;
  border: 2px solid;
  border-radius: 3px;
  border-color: gray;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/* Star Ratings third */
	
label {
  cursor: pointer;
}

svg {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}


/* hide radio buttons */

input[name="star"] {
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-right: -10px;
}

/* hide source svg */

.star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}


/* set initial color to transparent so fill is empty*/

.star {
  color: transparent;
  transition: color 0.1s ease-in-out;
}


/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/

.star-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-right: 300px;
}

label:hover ~ label .star,
svg.star:hover,
input[name="star"]:focus ~ label .star,
input[name="star"]:checked ~ label .star {
  color: #00008b;
}

input[name="star"]:checked + label .star {
  animation: starred 0.5s;
}

input[name="star"]:checked + label {
  animation: scaleup 1s;
}

@keyframes scaleup {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes starred {
  from {
    color: #00008b;
  }
  to {
    color: #00008b;
  }
}	




/* Star Ratings Fourth */

/* hide radio buttons */

input[name="man"] {
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-right: -10px;
}


.man {
  color: transparent;
  transition: color 0.1s ease-in-out;
}

label:hover ~ label .man,
svg.man:hover,
input[name="man"]:focus ~ label .man,
input[name="man"]:checked ~ label .man {
  color: #00008b;
}



/* Star Ratings Fifth */

/* hide radio buttons */

input[name="woman"] {
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-right: -10px;
}


.woman {
  color: transparent;
  transition: color 0.1s ease-in-out;
}

label:hover ~ label .woman,
svg.woman:hover,
input[name="woman"]:focus ~ label .woman,
input[name="woman"]:checked ~ label .woman {
  color: #00008b;
}



/* Star Ratings sixth */

/* hide radio buttons */

input[name="child"] {
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-right: -10px;
}


.child {
  color: transparent;
  transition: color 0.1s ease-in-out;
}

label:hover ~ label .child,
svg.child:hover,
input[name="child"]:focus ~ label .child,
input[name="child"]:checked ~ label .child {
  color: #00008b;
}


/* Star Ratings nineth */

/* hide radio buttons */

input[name="old"] {
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-right: -10px;
}


.old {
  color: transparent;
  transition: color 0.1s ease-in-out;
}

label:hover ~ label .old,
svg.old:hover,
input[name="old"]:focus ~ label .old,
input[name="old"]:checked ~ label .old {
  color: #00008b;
}





/* Submit button */
.buto{
  margin-left: 110px;
}
.info {background-color: #000066;} /* Blue */
.info:hover {background: #00004d;}



/* Footer */
.edit {
  font-size: 12px;
}


#id1{
  background-color: #e6e6e6;
}
